.navbar-nav>.user-menu>.dropdown-menu>.user-footer .btn-default{
	background:#222d32;
	color:#fff;
	border-radius:5px;
}
.logoImg{
	display:inline-block;
	margin-left:3%;
	margin-top: 3%;
}
.logoImg>img{
	vertical-align: bottom;
}
.appName{
	display:inline-block;
	margin-left:8%;
	margin-top: 3%;
	color:#fff;
}
.echarts_day{
	height:400px;
	border-radius:5px;
	background:#fff;
}
#main_day{
	width:100%;
	height:400px;
}
.echarts_month{
	height:400px;
	border-radius:5px;
	background:#fff;
}
#main_month{
	width:100%;
	height:400px;
}
.echarts_year{
	height:400px;
	border-radius:5px;
	background:#fff;
}
#main_year{
	width:100%;
	height:400px;
}
.row{
	margin-top:5px;
}
.echarts_totalBrowse{
	text-align:center;
	height:400px;
	border-radius:5px;
	background:-webkit-gradient(linear, left bottom, left top, color-stop(0, #00a65a), color-stop(1, #00ca6d)) !important;
}
#total_charts{
	display:inline-block;
	width:300px;
	height:400px;
}
.echarts_outAmountAnalyse{
	height:400px;
	border-radius:5px;
	box-shadow:0 0 5px #fff inset;
	background:-webkit-gradient(linear, left bottom, left top, color-stop(0, #39cccc), color-stop(1, #13c2c2)) !important;
}
#outAmount_charts{
	width:300px;
	height:400px;
}
.echarts_outValueAnalyse{
	border:1px #fff solid;
	height:700px;
	border-radius:5px;
	background:#fff;
}
#outValue_charts{
	width:300px;
	height:300px;
}
#outValue_charts_bar{
	width:300px;
	height:400px;
}
.echarts_workshopBrowse{
	/* border:1px #3c8dbc solid; */
	height:400px;
	border-radius:5px;
	/* box-shadow:0 0 5px #3c8dbc inset; */
	background:-webkit-gradient(linear, left bottom, left top, color-stop(0, #00a65a), color-stop(1, #00ca6d)) !important;
}
#workshop_charts{
	width:300px !important;
	height:400px;
}
.echarts_singlePlan{
	height:200px;
	border-radius:5px;
	box-shadow:0 0 5px #222d32 inset;
	background:#222d32;	
}
.breadcrumb{
	background:#fff !important;
	border-radius:5px !important;
}
.skin-blue .main-header .navbar{
	background:#222d32;
}
.navbar-nav>.user-menu .user-image{
	vertical-align:-webkit-baseline-middle;
}
.planName{
	font-size:small;
}
.actual{
	margin-top:3px;
}
.theory{
	margin-top: 3px;
}
.progessGroup{
	margin-top:5px;
	border:1px solid #222d32;
	border-radius:3px;
	padding:5px;
}
.legend{
	text-align:center;
}
.leg{
	display:inline-block;
	width:20px;
	height:10px;
	border-radius:3px;	
}
.plan{
	background:#dd4b39;
}
.theo{
	background:#f39c12;
	margin-left:5px;
}
.actu{
	background:#5cb85c;
	margin-left:5px;
}
.skin-blue .sidebar-menu>li.header{
	color:#fff !important;
}



