/* html,body{
	width:100%;
	height:100%;
} */
/*  .content-wrapper{
	min-height: 440px !important; 
	overflow-y:scroll;
} */ 
body{
	position: relative;
}
*:focus{
	outline: none;
}
.orderMsg{
	border-bottom: 1px solid #ccc;
	padding: 5px;
	font-size:small;
}
.orderContent{
	min-height:400px;
	overflow-y:scroll;
	background:#f5f5f5;
}
.exitBtn{
	display:block;
	width:35px;
	height:30px;
	position:absolute;
	right:-14px;
	top:0;
	text-align:center;
}
.exitBtn>button{
	background:#337ab7;
	border-radius:2px;
	color:#fff;
	border:none;
}
.currentUser{
	color:#000;
	font-size:small;
}
.userName{
	font-size:small;
}
.timepick{
	border:1px solid #3c8dbc;
	border-radius:5px;
	background:#fff !important;	
}
.condition,.conOption{
	background:#fff !important;	
}
.likeSearch{
	height:24px;
	width:100%;
	border:1px solid #3c8dbc;
	border-radius:5px;
	background:#fff !important;	
	padding-left:5px;
	font-size:smaller;	
}
.searchBtn{
	padding:5px;
	background:#3c8dbc;
	border-radius:5px;
	border:none;
	color:#fff;	
	margin-bottom:3px;
}
.timeFilterArea.container{
	padding-right: 15px;
}
.eg{
	color:#fff;
	font-size:larger;
	padding:10px;
}
.tips>.total{
	color:#faad14;
}
.menuName{
	padding:5px;
}
#loading{
	position: absolute;
	text-align:center;
	display:none;
	top:50%;
	right:0;
	bottom:0;
	left:0;
	margin:auto;
	z-index:9999;	
}
.skin-blue .user-panel>.info{
	font-size:large !important;
}
.searchAsCondition{
	padding:5px;
	font-size:smaller;
	background:#3c8dbc;
	border-radius:5px;
	border:none;
	color:#fff;	
	margin-bottom:3px;
	float:right;
}
.condition{
	border:1px solid #3c8dbc;
	border-radius:3px;
	font-size:small;
}
.progress{
	margin-bottom:0px !important;
	background:#ccc;
	color:#000;
	height:15px;
}
.progress-bar{
	color:#fff;
	height:15px;
	line-height:15px;
	text-align:left;
}
.skin-blue .content-header {
	background:#f5f5f5;
	margin-top: 45px;
}