.main{
	width:99%;
	height:560px;
	padding:10px;
	color:#fff;
	overflow-y:hidden;	
	border:2px solid #8c8c8c;
	margin:auto;
	border-radius:30px;
}
.pageTitle{
	width:100%;
	height:40px;
	line-height:40px;	
	color:#fff;		
	font-size:30px;
	/* border:1px solid red; */
}
.title{
	width:60%;
	height:40px;
	text-align:right;
	float:left;
	line-height: 33px;
}
.time{
	box-sizing:border-box;
	width:40%;
	height:40px;
	line-height: 33px;
	text-align:right;
	float:left;
	font-size:25px;
	padding-right:10px;
}
.leaderInfo{
	width:100%;
	height:60px;
	line-height:60px;	
	color:#fff;		
	font-size:25px;
	border:1px solid #8c8c8c;
	/* border-top-right-radius: 5px;
	border-top-left-radius: 5px; */
}
.infoItem{
	float:left;
	text-align:center;
	border-right:1px solid #8c8c8c;
}
.photo{
	width:9%;
	height:60px;
	background: url('cgx.jpg') no-repeat;
  	background-size: 100% 100%;	
}
.nameMark{
	width:10%;
	height:58px;
	line-height:58px;
	font-size:20px;
}
.name{
	width:10%;
	height:60px;
	line-height:60px;
}
.jobMark{
	width:10%;
	height:58px;
	line-height:58px;
	font-size:20px;
}
.job{
	width:15%;
	height:60px;
	line-height:60px;
}
.phoneMark{
	width:10%;
	height:58px;
	line-height:58px;
	font-size:20px;
}
.phone{
	width:19%;
	height:60px;
	line-height:60px;
}
.IEMark{
	width:7%;
	height:58px;
	line-height:58px;
	font-size:20px;
}
.IE{
	width:10%;
	height:60px;
	line-height:60px;
}
.topDiv{
	box-sizing:border-box;
	width:100%;
	height:220px;	
	color:#fff;		
	/* border:1px solid green; */
}
.productionTable{
	box-sizing:border-box;
	width:80%;
	height:220px;	
	color:#fff;		
	/* border:1px solid red; */
	float:left;
}
.currentProducting{
	box-sizing:border-box;
	width:100%;
	height:35px;	
	color:#fff;		
	/* border:1px solid red;	 */
	line-height:35px;	
	font-size:20px;
	text-align:center;
	padding-top: 8px;
}
.tableArea{
	box-sizing:border-box;
	width:91%;
	height:180px;	
	color:#fff;		
	/* border:1px solid #fff; */
	padding:15px 5px;	
}
.throughRate{
	box-sizing:border-box;
	width:20%;
	height:220px;	
	color:#fff;		
	/* border:1px solid green; */
	float:left;
}
.bottomDiv{
	box-sizing:border-box;
	width:100%;
	height:210px;	
	color:#fff;		
	/* border:1px solid pink; */
}
.bottomLeftDiv{
	box-sizing:border-box;
	width:80%;
	height:210px;	
	color:#fff;		
	/* border:1px solid orange; */
	float:left;
}
.bottomRightDiv{
	box-sizing:border-box;
	width:20%;
	height:210px;	
	color:#fff;		
	/* border:1px solid purple; */
	float:left;
}
.tableArea>.table tr td{
	text-align:center;
	vertical-align: middle;
}
.animate {
	width:25px;
	height:25px;
	border-radius:25px;	
	float:left;
	margin-left:20px;
	margin-top:4px;
  	background: #52c41a;
  	-webkit-animation: twinkling 1s infinite ease-in-out;
  	animation: twinkling 1s infinite ease-in-out;
} 
.animated{
	-webkit-animation-duration: 1s; 
  	animation-duration: 1s; 
  	-webkit-animation-fill-mode: both; 
  	animation-fill-mode: both; 
}

@-webkit-keyframes twinkling{ 
0%{
  background:#52c41a;
} 
100%{ 
  background: #111111;;
} 
} 

@keyframes twinkling{ 
0%{
  background:#52c41a; 
} 
100%{ 
  background: #111111;;
} 
}
.productionContent{
	float:left;
	box-sizing:border-box;
	padding-left:5px;
}
.table-bordered>tbody>tr>td{
	border: 1px solid #8c8c8c;
}
.throughRate{
	
}