.main-content{
	width: 100%;
	height: 100vh;
	position: relative;
	background: #40a9ff;
	color: #fff;
}
.formTitle{
	position: absolute;
	width: 100%;
	height: 100px;
	line-height: 100px;
	color: #fff;
	font-size: 60px;
	text-align: center;
	top: 15%;
}
.userMsg{
	font-size: 35px;
	width: 100%;
	position: absolute; 
	top: 50%;
	left: 45%;
	transform: translate(-50%, -50%);  
	-ms-transform:translate(-50%, -50%);         //IE9
	-webkit-transform: translate(-50%, -50%);    //Google„ÄÅSafari
}
.form-control{
	height: 65px;
	font-size: 35px;
	border-radius: 10px !important;
}	