header{
	width: 100%;
	height: 50px;
	line-height: 30px;
	background: #1890ff;
	box-sizing: border-box;
}
header .header_item{
	box-sizing: border-box;
	line-height: 50px;
	color: #fff;
}
header img{
	display: inline-block;
}
header .logo{
	float: left;
	margin-left: 1%;
}
header .title{
	/* height: 50px; */
	float: left;
	font-size: large;	
}
header .menuName{
	/* height: 50px; */
	float: left;
	font-size: larger;
	margin-left: 10px;	
}
header .user{
	float: right;
}
header .fullScreen{
	float: right;
	margin-right: 1%;
	margin-left: 5px;
}
header .noScreen{
	float: right;
	margin-right: 1%;
	margin-left: 5px;
	display: none;
}
header .exit{
	float: right;
	margin-right: 1%;
	margin-left: 10px;
}
header .exit>a{
	color: #bfbfbf;
	font-size: small;
}
.btn:focus,.btn:active:focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn.active.focus {
	outline: none !important;
}
input{
	outline: none !important;
}