.search_content{
	box-sizing: border-box;
	width: 100%;
	height: 50px;
	border: 1px solid #ccc;
	line-height: 50px;
	padding-left: 20px;
	background: #f5f5f5;
}
input,button{
	line-height: normal !important;
}
.left_content{
	float: left;
}
.left_content_item{
	float: left;
	display: inline-block;
}
.right_content{
	float: right;
}
.right_content_item{
	float: left;
	display: inline-block;
}
.equCode,.submitBtn,.scan{
	margin-left: 10px;
}
.equName,.workShop,.checkPerson{
	margin-right: 10px;
}
.equCode input{
	border: 1px solid #2e6da4;
	border-radius: 5px;
}
.main_content{
	width: 100%;
	height: 500px;
	padding-left: 15px;
	overflow-y: scroll;
}