<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductMapper">
	
	<!--表名 -->
	<sql id="tableName">
		BASE_PRODUCT
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		PRODUCT_CODE,	
		PRODUCT_NAME,	
		PRODUCT_SPECIFICATIONS,	
		PRODUCTLINE_ID,
		PRODUCT_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{PRODUCT_CODE},	
		#{PRODUCT_NAME},	
		#{PRODUCT_SPECIFICATIONS},	
		#{PRODUCTLINE_ID},	
		#{PRODUCT_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			PRODUCT_ID = #{PRODUCT_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			PRODUCT_CODE = #{PRODUCT_CODE},
			PRODUCT_NAME = #{PRODUCT_NAME},
			PRODUCT_SPECIFICATIONS = #{PRODUCT_SPECIFICATIONS},
			PRODUCTLINE_ID = #{PRODUCTLINE_ID},
		    PRODUCT_ID = PRODUCT_ID
		where 
		    PRODUCT_ID = #{PRODUCT_ID}
	</update>
	
	<!-- 修改标识字段 -->
	<!-- <update id="editRemark" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			remark = 1
		where 
		    PRODUCT_CODE = #{PRODUCT_CODE}
	</update> -->
	
	<!-- 查询出所有的产品 -->
	<select id="findAllProduct" parameterType="pd" resultType="pd">
		select 
			PRODUCT_CODE,PRODUCT_NAME,PRODUCT_SPECIFICATIONS
		from 
		<include refid="tableName"></include>
	</select>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			PRODUCT_ID = #{PRODUCT_ID}
	</select>
	<!-- 查询ERP新增的产品 -->
	<select id="selectNumFromERP" parameterType="pd" resultType="pd">
		select pERP.cinvCode,pERP.cinvCode,pERP.cinvName,pERP.cinvStd from ${LINKSERVER}.${LINKDATABASE}.dbo.inventory pERP 
		where pERP.cinvCode not in  (select PRODUCT_CODE from BASE_PRODUCT) and (pERP.cinvCode LIKE '2%' or cinvCode LIKE '3%')
	</select>
	
	<!-- 将ERP新插入的产品添加进PRODUCT表 -->
	<insert id="insertProduct" parameterType="pd">
		insert into BASE_PRODUCT(PRODUCT_ID,PRODUCT_CODE,PRODUCT_NAME,PRODUCT_SPECIFICATIONS)
		select pERP.cinvCode,pERP.cinvCode,pERP.cinvName,pERP.cinvStd from ${LINKSERVER}.${LINKDATABASE}.dbo.inventory pERP 
		where pERP.cinvCode not in  (select PRODUCT_CODE from BASE_PRODUCT) and (pERP.cinvCode LIKE '2%' or cinvCode LIKE '3%')
	</insert>
	
	<!-- 查询出已导入与ERP不一致的产品的产品名称和规格型号 -->
	<select id="checkProduct" parameterType="pd" resultType="pd">
		select pERP.cinvCode as PRODUCT_CODE,pERP.cinvName as PRODUCT_NAME,pERP.cinvStd as PRODUCT_SPECIFICATIONS from ${LINKSERVER}.${LINKDATABASE}.dbo.inventory pERP	
       where pERP.cinvCode in (select PRODUCT_CODE from BASE_PRODUCT) 
       and (pERP.cinvName != (select PRODUCT_NAME from BASE_PRODUCT where PRODUCT_CODE = pERP.cinvCode ) or pERP.cinvStd !=(select PRODUCT_SPECIFICATIONS from BASE_PRODUCT where PRODUCT_CODE = pERP.cinvCode))
	</select>
	
	<!-- 已经导入的产品和ERP不一致，进行更新 -->
	<update id="updateProduct" parameterType="pd">
		update
			BASE_PRODUCT
		set
			PRODUCT_NAME = #{PRODUCT_NAME},
			PRODUCT_SPECIFICATIONS = #{PRODUCT_SPECIFICATIONS}
		where
			PRODUCT_CODE = #{PRODUCT_CODE}
	</update>
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
					PRODUCT_CODE LIKE '%'+ #{pd.keywords}+'%'
					or
					PRODUCT_NAME LIKE '%'+ #{pd.keywords}+'%'
					or
					PRODUCT_SPECIFICATIONS LIKE '%'+ #{pd.keywords}+'%'
				)
		</if>
		<if test="pd.PRODUCT_NAME!=null and pd.PRODUCT_NAME!=''">
			and PRODUCT_NAME like '%'+#{pd.PRODUCT_NAME}+'%'
		</if>
		<if test="pd.PRODUCT_SPECIFICATIONS!=null and pd.PRODUCT_SPECIFICATIONS!=''">
			and PRODUCT_SPECIFICATIONS like '%'+#{pd.PRODUCT_SPECIFICATIONS}+'%'
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="keywords!= null and keywords != ''"><!-- 关键词检索 -->
			and
				(
					PRODUCT_CODE LIKE '%'+ #{keywords}+'%'
					or
					PRODUCT_NAME LIKE '%'+ #{keywords}+'%'
					or
					PRODUCT_SPECIFICATIONS LIKE '%'+ #{keywords}+'%'
				)
		</if>
		<if test="PRODUCT_NAME!=null and PRODUCT_NAME!=''">
			and PRODUCT_NAME like '%'+#{PRODUCT_NAME}+'%'
		</if>
		<if test="PRODUCT_SPECIFICATIONS!=null and PRODUCT_SPECIFICATIONS!=''">
			and PRODUCT_SPECIFICATIONS like '%'+#{PRODUCT_SPECIFICATIONS}+'%'
		</if>
	</select>
	
	<!-- 通过产品编码查询信息findByMaterialCode -->
	<select id="findByMaterialCode" parameterType="pd" resultType="pd">
		select 
		PRODUCT_NAME,
		PRODUCT_CODE,	
		PRODUCT_SPECIFICATIONS,
		from 
		<include refid="tableName"></include>
		where 
			PRODUCT_CODE = #{materialCode}
	</select>
	
	<!-- 根据关键词查询物料信息 -->
	<select id="findByKeywords" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="keywords!= null and keywords != ''"><!-- 关键词检索 -->
			and
				(
					PRODUCT_CODE LIKE '%'+ #{keywords}+'%'
					or
					PRODUCT_NAME LIKE '%'+ #{keywords}+'%'
					or
					PRODUCT_SPECIFICATIONS LIKE '%'+ #{keywords}+'%'
				<!--	根据需求自己加检索条件
					字段1 LIKE '%'+ #{pd.keywords}+'%'
					 or 
					字段2 LIKE '%'+ #{pd.keywords}+'%' 
				-->
				)
		</if>
	</select>
	
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			PRODUCT_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- rhz -->
</mapper>