html,body{
	width:100%;
	height:auto;
	background: #111111;
    opacity:0.9;
}
.content{
	width:99%;
	height:490px;
	border:1px solid #ccc;
	border-radius:10px;
	padding:10px;
	margin-left:5px;
}
.titleContent{
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #fff;
   margin-top:5px;
}
.title{
    width: 60%;
    height: 35px;
    line-height: 35px;
    color: #fff;
    font-size: 30px;
    float: left;
    text-align: right;
}
.time{
    width: 38%;
    height: 35px;
    line-height: 35px;
    color: #fff;
    font-size: 25px;
    float: left;
    text-align: right;
}
.topContent{
	width:100%;
	height:50%;
	/* border:1px solid red; */
	margin-top:10%;
}
.bottomContent{
	width:100%;
	height:50%;
	/* border:1px solid green; */
}
.leftTopContent{
	width:50%;
	height:100%;
	/* border:1px solid yellow; */
	float:left;
}
.rightTopContent{
	width:50%;
	height:100%;
	/* border:1px solid orange; */
	float:left;
}
.leftbottomContent{
	width:50%;
	height:100%;
	/* border:1px solid orange; */
	float:left;
}
.rightbottomContent{
	width:50%;
	height:100%;
	/* border:1px solid yellow; */
	float:left;
}
/* #aoiChartBing{
	width:450px;
	height:280px;
	border:1px solid #ccc;
} */
#aoiChartYiBiao{
	width:450px;
	height:280px;
	/* border:1px solid #ccc; */
}
#aoiChartZhu{
	width:450px;
	height:300px;
	/* border:1px solid #ccc; */
}

